.content {

    &__intro {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &-title {
            color: #fff;
            -webkit-text-stroke: 1px #AFAFAF;
            font-family: Ubuntu;
            font-size: 100px;
            text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
            font-weight: 400;
            margin: 0;
        }
        i {
            color: #fff;
            position: absolute;
            bottom: 50px;
            font-size: 100px;
            animation: arrow-animation 3s infinite;
        }
    }

    &__video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: fixed;
        z-index: -999;
    }
    
    &__dishes {
        background: #fff;
        padding: 150px 20px;
        &-inner {
            display: flex;
            max-width: 1598px;
            width: 100%;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: 0 auto;
        }
    }

    &__dish {
        display: flex;
        flex-direction: column;
        margin: 0 30px;
        img {
            align-self: center;
            max-width: 100%;
        }
        &-title {
            text-align: center;
            font-size: 32px;
            margin-top: 20px;
        }
        &-description {
            max-width: 627px;
            &:first-of-type {
                margin-top: 40px;
            }
            margin-top: 20px;
        }
    }
}

@keyframes arrow-animation {
    0% {
        transform: translateY(0);
    }
    
    50% {
        transform: translateY(15px);
    }
    
    0% {
        transform: translateY(0);
    }
}

@media screen and (max-width: 1390px) {
    .content {

        &__intro-title {
            font-size: 11vw;
        }

        &__dishes {
            flex-direction: column;
        }
        &__dish {
            margin: 0 auto;
        }
    }
}